<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" >
            <a class="navbar-brand"  href="index.html" >Project CMPE 283- GROUP 07</a>
        </div>
        <!-- /.navbar-header -->


        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li></li>
                    <li>
                        <a href="/Home "></i> Home</a>
                    </li>
                    <li>
                        <a href="/viewFlavors"> Flavors</a>
                       
                    </li>
                    <li>
                        <a href="/viewImages">Images</a>
                    </li>
                    <li>
                        <a href="/viewNetworks">Networks</a>
                    </li>
                    <li>
                        <a href="/viewSecurityGroups"> Security Groups</a>
                    </li>
                    <li>
                        <a href="/viewServers"> Servers</a>
                    </li>
                    <li>
                        <a href="/viewTokens"> Tokens</a>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h2><p align="center">Welcome to Simple Stack</p></h2>

                <div class="panel panel-default">

                    <div class="panel-heading"></div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2><p align="center">Flavor Services</p></h2>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="/viewFlavors">View Details</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2><p align="center">Images Services</p></h2>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="/viewImages">View Details</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2><p align="center">Network Services</p></h2>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="/viewNetworks">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                           
                        </div>

                    </div>             <!-- /.panel-body -->

                    <div class="panel-footer">
                       <p align="right"> By Virtual Team Group 07 </p>
                    </div>

                </div>                <!-- /.panel -->

            </div>                    <!-- /.col-lg-12 -->

        </div>                        <!-- /.row -->

    </div>                           <!-- /#page-wrapper -->

</div>                                 <!-- /#wrapper -->

</body>

</html>
